[user]
	name = Samuel Oechsler
	email = samuel@oechsler.it
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMmMdLN8uZTSLxyogKuhdLWNxHH3YgYFyZtTS5Gz3flx

[core]
	excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
	rebase = false

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true

[diff]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[merge]
	tool = Kaleidoscope

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

