[user]
	name = Samuel Oechsler
	email = samuel@oechsler.it
	signingkey = ~/.ssh/id_ed25519.pub

[core]
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true
	autoStash = true

[gpg]
	format = ssh

[commit]
	gpgsign = true

[diff]
	tool = meld

[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[difftool]
	prompt = false

[merge]
	tool = meld

[mergetool "meld"]
	cmd = cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	trustExitCode = true

[mergetool]
	prompt = false

